[submodule "nvim"]
	path = nvim/.config/nvim
	url = https://github.com/stefanbildl/nvim-config-v2
	branch = main
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
