.gsd-keyboard.settings-ported
BraveSoftware/
background
dconf/
evolution/
gnome-initial-setup-done
go/
gtk-3.0/
ibus/
libreoffice/
mimeapps.list
monitors.xml
monitors.xml~
nextjs-nodejs/
org.gnome.Ptyxis/
pulse/
user-dirs.dirs
user-dirs.locale
